.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

*{
font-family: 'Atkinson Hyperlegible', sans-serif;
margin:0px;
line-height: 28px;
box-sizing: border-box;
}

label{
  font-size:14px;
  font-weight:600;
}

h2{
  padding:1em;
  text-align: center;
  color:#ec008c;
}
form{
  padding:2em;
  margin: auto;
  max-width: 370px;
  
  border-radius:40px;
}
input{
  padding: 4px 16px;
  width: 100%;
  border: unset;
  box-shadow: 0 0 10px #9CA3AF;   
  border-radius:10px;
}
button{
  padding: 4px 16px;
  margin: 10px 0;
  font-weight: 600;
  border: unset;
  box-shadow: 0 0 10px #9CA3AF;
  color: #fff;
  border-radius:10px;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}


