body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  height: 100vh;
}

.btn-dark{
  background: #262525 
}



.Login {
  background-image: linear-gradient(134deg, rgb(0, 0, 0) 50%, rgb(118, 118, 118) 100%)
}

.Register {
  background-image: linear-gradient(134deg, rgb(0, 0, 0) 50%, rgb(118, 118, 118) 100%)
}

nav {
  background-image: linear-gradient(134deg, rgb(0, 0, 0) 66%, rgb(64, 64, 64) 100%);
}

.logo {
  display: flex;
  max-width: 170px;
  justify-content: flex-end;
}

.formLg {
  max-width: 240px;
  align-content: center;
}

.formTitle {
  font-size: 20px;
}

.navBarCont {
  margin-left: 20px;
  margin-right: -10px;
  margin-top: -7px;
  margin-bottom: -3px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  margin-bottom: .85em;
}

.profilePic {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}
